<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <h1 class="title">E-commerce</h1>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="home"
            RouterLinkActive="active home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="products" RouterLinkActive="active"
            >Products</a
          >
        </li>

        <div class="subnav">
          <li class="nav-item">
            <a class="nav-link">Categories</a>
          </li>
          <div class="subnav-content">
            <a href="#bring">Laptop</a>
            <a href="#deliver">smartphones</a>
            <a href="#package">skincare</a>
            <a href="#express">groceries</a>
          </div>
        </div>
        <div class="cart">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-cart-plus-fill"
            viewBox="0 0 16 16"
            style="cursor: pointer; color: antiquewhite"
            routerLink="cart"
          >
            <path
              d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0"
            />
          </svg>
        </div>
        {{
          num
        }}
      </ul>

      <a class="nav-link me-4" routerLink="login" RouterLinkActive="active "
        >Login</a
      >

      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="search" type="submit" [(ngModel)]="serchtext">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="main">
  <router-outlet></router-outlet>
</div>
